<h2 style="color: #0069d9;">My Courses : {{courseIds.length}} </h2>

<!--<br/>-->
<ul class="list-group py-1 my-1 rounded" style="width: 40rem">
  <li *ngFor="let course of courseList" class="list-group-item shadow bg-light">
    <div class="row">
      <div class="col-5 border-right my-0">
        {{course.title}}
      </div>
      <div class="col-7 pl-4">
        <span style="color: dimgrey;">{{getSection(course.id)}}</span>
      </div>
    </div>
    <!--<span class="border-right border-danger mx-2"></span>-->
    <!---->
  </li>
</ul>

<!--<div class="row pt-3 my-2" >-->
  <!--<div *ngFor="let course of courses" class="col-sm-3 ">-->
    <!--<div class="card rounded shadow">-->
      <!--<div class="card-body">-->
        <!--<h5 class="card-title">{{course.title}}</h5>-->
        <!--&lt;!&ndash;<p class="card-text">Explore this course.</p>&ndash;&gt;-->
        <!--&nbsp;&nbsp;&nbsp;-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
