<div style="margin: 15px;">
    <h1 style="color: mediumblue">Navigator</h1>
    <h4 style="color: orangered">Courses [{{courses.length}}] </h4>
    <hr/>

    <div class="row">
      <div class="col">
        <ul class="list-group shadow">
          <li class="list-group-item active">
            Courses</li>
          <li class="list-group-item webdev"
              *ngFor="let course of courses">
            {{course.title}}</li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-group shadow">
          <li class="list-group-item active">
            Modules</li>
          <li class="list-group-item webdev"
              *ngFor="let course of courses">
            {{course.title}}</li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-group shadow">
          <li class="list-group-item active">
            Lessons</li>
          <li class="list-group-item webdev"
              *ngFor="let course of courses">
            {{course.title}}</li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-group shadow">
          <li class="list-group-item active">
            Topics</li>
          <li class="list-group-item webdev"
              *ngFor="let course of courses">
            {{course.title}}</li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-group shadow">
          <li class="list-group-item active">
            Widgets</li>
          <li class="list-group-item webdev"
              *ngFor="let course of courses">
            {{course.title}}</li>
        </ul>
      </div>
    </div>

</div>
