<nav class="navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;">
  <!--<a class="navbar-brand" href="#">White-Board</a>-->
  <a class="navbar-brand" href="#" style="color: #007bff; font-size: x-large">WhiteBoard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item" [hidden] = !loggedIn>
        <a class="nav-link" routerLink="/profile">Profile</a>
      </li>
      <li class="nav-item" [hidden] = !loggedIn>
        <a class="nav-link" [hidden] = !admin
           routerLink="/admin">Admin</a>
      </li>
    </ul>
    <!--<form class="form-inline my-2 my-lg-0">-->
    <form class="form-inline mt-2 mt-md-0">
      <span class="navbar-text">
        Logged in as : </span>
      <span style="color: dimgrey; font-weight: bold">&nbsp;{{username}}
      </span>
      &nbsp;&nbsp;
      <button class="btn btn-outline-primary my-2 my-sm-0"
              (click)="logout()">Logout</button>
    </form>
  </div>
</nav>

<div style="margin: 5px; padding: 15px;">
  <div class="row">
    <div class="col border pr-1">
      <ul class="list-group rounded py-1 my-1" style="width: 20rem">
        <li *ngFor="let course of courses"
            class="list-group-item shadow rounded my-2"
            (click)="selectCourse(course.id)"
            [ngClass]="{'active': course.id === selectedCourseId}">
          <span style="font-size: large; color:dodgerblue;"> </span>{{course.title}}
          <!--<button class="float-right btn btn-outline-primary float-right"-->
                  <!--routerLink="/course/{{course.id}}/section">View Sections</button>-->
          <!--(click)="showSections(section)"-->
        </li>
      </ul>
    </div>
    <div class="col-7 border">
      <!--<h3 class="mb-1 text-center" style="color: dimgray;"> Section Editor</h3>-->
      <div style="padding: 10px;">
        <h2 style="color: darkorange" class="text-center">Sections {{courseId}}</h2>
        <h4  [hidden] = !updateMode class="text-center p-0 m-0" style="color: limegreen">Editing this section</h4>
        <div [hidden] = !admin>
          <ul class="list-group rounded py-1 my-1" style="width: 36rem">
            <li *ngFor="let section of sections" class="list-group-item shadow bg-light">
              <span style="font-size: large; color:dodgerblue;"> </span>{{section.name}}
              <button (click)="deleteSection(section)"
                      class="float-right btn btn-outline-danger float-right mt-2">
                <i class="fas fa-trash-alt"></i></button>
              <button (click)="editSection(section)"
                      class="float-right btn btn-outline-success float-right mt-2 mr-2">
                <i class="fas fa-pencil-alt"></i></button>
              <br> <span style="color: dimgrey; font-style: italic "> Seats Available :  </span>
              {{section.seats}}
            </li>
          </ul>
          <br>

        </div>
    </div>
  </div>

</div>
