<nav class="navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;">
  <!--<a class="navbar-brand" href="#">White-Board</a>-->
  <a class="navbar-brand" href="#" style="color: #007bff; font-size: x-large">WhiteBoard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item" [hidden]=!loggedIn>
        <a class="nav-link" routerLink="/profile">Profile</a>
      </li>
      <li class="nav-item" [hidden]=!loggedIn>
        <a class="nav-link" [hidden]=!admin
           routerLink="/admin">Admin</a>
      </li>
    </ul>
    <!--<form class="form-inline my-2 my-lg-0">-->
    <form class="form-inline mt-2 mt-md-0">
      <span class="navbar-text">
        Logged in as : </span>
      <span style="color: dimgrey; font-weight: bold">&nbsp;{{username}}
      </span>
      &nbsp;&nbsp;
      <button class="btn btn-outline-primary my-2 my-sm-0"
              (click)="logout()">Logout
      </button>
    </form>
  </div>
</nav>

<div style="margin: 5px; padding: 15px;">
  <div class="row">
    <div class="col mr-0">
      <ul class="list-group rounded py-1 my-1" style="width: 18rem">
        <li *ngFor="let course of courses"
            class="list-group-item shadow rounded my-2"
            (click)="selectCourse(course.id)"
            [ngClass]="{'active': course.id === selectedCourseId}">
          <span style="font-size: large; color:dodgerblue;"> </span>{{course.title}}
          <!--<button class="float-right btn btn-outline-primary float-right"-->
          <!--routerLink="/course/{{course.id}}/section">View Sections</button>-->
          <!--(click)="showSections(section)"-->
        </li>
      </ul>
    </div>
    <div class="col-8 ml-0">
      <!--<h3 class="mb-1 text-center" style="color: dimgray;"> Section Editor</h3>-->
      <div style="padding: 10px;">
        <h2 style="color: darkorange" class="text-center">Sections</h2>
        <div [hidden]=!admin>
          <div class="row ml-1 mb-2">
            <button [hidden]=addMode
                    [disabled] = updateMode
                    (click)="addSection()"
                    class="float-right btn btn-outline-warning rounded shadow">
              <i class="fas fa-plus"></i>&nbsp;&nbsp;Add new section
            </button>

          </div>
          <h4 [hidden]=!updateMode class="text-center p-0 mb-2" style="color: limegreen">Edit this section</h4>
          <div [hidden] = !updateMode>
          <form>

            <div class="form-group row">
              <label for="sectionFld1" class="text-center col-form-label"  style="width:15%">
                Section Name </label>
              <div class="col-sm-10">
                <input [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="sectionName"
                       id="sectionFld1"
                       class="form-control wbdv-password-fld"
                       placeholder="Section Name">
              </div>
            </div>

            <div class="form-group row">
              <label for="seatsFld2" class="text-center col-form-label" style="width:15%">
                Max Seats</label>
              <div class="col-sm-10">
                <input [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="maxSeats"
                       id="seatsFld2"
                       class="form-control wbdv-password-fld"
                       placeholder="Max Seats in section">
              </div>
            </div>
            <button id="updateBtn"
                    [hidden] = !updateMode
                    (click)="updateSection()"
                    class="btn btn-success"
                    style="margin-left:0%; width: 100%;">
              Update Section
            </button>
            <button id="cancelUpdateBtn"
                    [hidden]=!updateMode
                    (click)="cancelUpdateMode()"
                    class="btn btn-secondary mt-2 mb-3"
                    style="margin-left:0%; width: 100%;">
              Cancel
            </button>
          </form>
          </div>


          <div [hidden]=!addMode class="mb-3">
            <form>

              <div class="form-group row">
                <label for="sectionFld" class="text-center col-form-label" style="width:15%">
                  Section Name </label>
                <div class="col-sm-10">
                  <input [ngModelOptions]="{standalone: true}"
                         [(ngModel)]="sectionName"
                         id="sectionFld"
                         class="form-control wbdv-password-fld"
                         placeholder="Section Name">
                </div>
              </div>

              <div class="form-group row">
                <label for="seatsFld" class="text-center col-form-label" style="width:15%">
                  Max Seats </label>
                <div class="col-sm-10">
                  <input [ngModelOptions]="{standalone: true}"
                         [(ngModel)]="maxSeats"
                         id="seatsFld"
                         class="form-control wbdv-password-fld"
                         placeholder="Max Seats in section">
                </div>
              </div>
              <button id="createBtn"
                      [hidden]=updateMode
                      (click)="createSection(sectionName, maxSeats)"
                      class="btn"
                      style="margin-left:0%; width: 100%; color: white; background-color: orange">
                Add Section
              </button>
              <button id="cancelBtn"
                      [hidden]=updateMode
                      (click)="cancel()"
                      class="btn btn-secondary mt-2"
                      style="margin-left:0%; width: 100%;">
                Cancel
              </button>
            </form>
          </div>
          <ul class="list-group rounded py-1 my-1" style="width: 36rem">
            <li *ngFor="let section of sections" class="list-group-item shadow bg-light">
              <span style="font-size: large; color:dodgerblue;"> </span>{{section.name}}
              <button (click)="deleteSection(section)"
                      class="float-right btn btn-outline-danger float-right mt-2">
                <i class="fas fa-trash-alt"></i></button>
              <button (click)="editSection(section)"
                      class="float-right btn btn-outline-success float-right mt-2 mr-2">
                <i class="fas fa-pencil-alt"></i></button>
              <br>
              <span style="color: dimgrey; font-style: italic "> Max Seats :  </span>
              {{section.maxSeats}}
              <span style="color: dimgrey; font-style: italic ">&nbsp;&nbsp;|&nbsp;&nbsp; Seats Available :  </span>
              {{section.seats}}
            </li>
          </ul>
          <br>

        </div>
      </div>
    </div>
  </div>
</div>
