<nav class="navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;">
  <!--<a class="navbar-brand" href="#">White-Board</a>-->
  <a class="navbar-brand" href="#" style="color: #007bff; font-size: x-large">WhiteBoard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item" [hidden] = !loggedIn>
        <a class="nav-link" routerLink="/profile">Profile</a>
      </li>
      <li class="nav-item" [hidden] = !loggedIn>
        <a class="nav-link" [hidden] = !admin
           routerLink="/admin">Admin</a>
      </li>
    </ul>
    <!--<form class="form-inline my-2 my-lg-0">-->
    <form class="form-inline mt-2 mt-md-0">
      <span class="navbar-text">
        Logged in as : </span>
      <span style="color: dimgrey; font-weight: bold">&nbsp;{{username}}
      </span>
      &nbsp;&nbsp;
      <button class="btn btn-outline-primary my-2 my-sm-0"
              (click)="logout()">Logout</button>
    </form>
  </div>
</nav>



<br>
<div style="margin: 5px; padding: 15px;">
<ul class="list-group rounded py-1 my-1" style="width: 36rem">
  <li *ngFor="let course of courses" class="list-group-item shadow-sm rounded bg-light my-1">
    <span style="font-size: large; color:dodgerblue;"> </span>{{course.title}}
    <button class="float-right btn btn-outline-primary float-right"
            routerLink="/course/{{course.id}}/section">Show Sections</button>
      <!--(click)="showSections(section)"-->
  </li>
</ul>
</div>
